@model SimpleMusic.Models.Composer

@{
    ViewData["Title"] = "Details";
}

    <h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Country.Name)</h4>
    <img src="@Html.DisplayFor(model => model.Photo)" alt="@Html.DisplayFor(model => model.Name)" align="left"/>
    <hr />
        <h5>
            @Html.DisplayNameFor(model => model.Bio)
        </h5>
        <p>
            @Html.DisplayFor(model => model.Bio)
        </p>
</div>
<div>
    <h5>@Html.DisplayNameFor(model => model.Pieces)</h5>
    <div id="Pieces">

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<script type="text/javascript">
    const uri = 'https://simplemusictest.azurewebsites.net/api/PiecesById/@Model.Id';
    let pieces = [];
    function getPieces() {
        fetch(uri)
            .then(response => response.json())
            .then(data => displayPieces(data)).catch(error => console.error('Unable to get'));
    }
    function displayPieces(data) {
        const text = document.getElementById('Pieces');
        text.innerHTML = '';
        data.forEach(Piece => {
            let textNode = document.createTextNode(Piece.name + " ");
            text.appendChild(textNode);
        });
        pieces = data;
    }
</script>
<script type="text/javascript">
    getPieces();
</script>
